body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    background-color: #F8F9ED;
    color: #1E001B;
}
h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 42px;
    color: #1E001B;
}
h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    color: #1E001B;
}
.titlePage {
    height: 75px;
    text-align: center;
    vertical-align: middle;
    border-width: 10px;
    padding-left: 10px;
}
#search {
    border:none;
-webkit-appearance:none;
color: #1E001B; 
}
.spacer {
    height: 15px;

}
.return {
    padding-left: 20px;
    padding-right: 20px;
}
input[type=radio] {
    border: 
    background-color: #F8F9ED;
}
.hidden {
    display: none;
    width: 25em;
}
.results {
    width: 75%;
    margin: 0 auto;
    font-family: 'EB Garamond', serif;
    font-size: 16px;
}
#titlereturn {
    font-weight: bold;
    font-size: 21px;
    line-height: 1.75em;
}
#authorreturn {
    font-style: italic;
    font-size: 18px;
    line-height: 1.75em;
}
#descriptionreturn {
    font-size: 16px;
}
.bookyesorno {
    font-size: 21px;
        font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;

}
#readIt {
    font-weight: lighter;
    font-family: 'Josefin Sans', sans-serif;
    text-align: left;
    font-size: 16px;
    margin: 0 auto;
    width: 50%;
    padding-left: 20%;

}
#wantToRead {
    padding-left: 20px;
    padding-right: 20px;
}

.bookList {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 21px;
    font-weight: lighter;
}
#output {
    padding-left: 20px;
    height: auto;
    width: auto;
}
#goaloutput {
    padding-left: 20px;
    height: auto;
    width: auto;
}
.titleSaveDiv {
    text-align: left;
    width: 30%;
    margin: 0 auto;
}